.contain
  .countdown

.recording
  .preroll
  .button
  hr
  .instructions Press record to begin.

.lyrics: .text

canvas.bars(width='1920', height='300')

.actions

  .contain
    .playback
      .button
      p Play Back Your Song

    .re-record
      .button
      p Re-Record Your Song

  hr

  .next Submit
