header
  h1 Welcome to the Ray-Ban Remix Booth
  h3 Sometimes it's good to mix things up. Now you can add your custom chorus to 'I Need A Dollar' by Aloe Blacc. Listen to the track, choose the remix spin you want to put on your voice, and record.

hr

form
  .email-box
    input(type='text', name='email', placeholder="Enter your email", autocomplete="off")
    input(type='submit', value='Enter')
  .field.terms
    .input
      input(type='checkbox', name='terms', id='terms')
      label(for='terms')
        | I agree to the
        a.rules Rules
    .email-conditions
      p
        | By providing your email address, you agree to Ray-Ban’s 
        a.fancybox(href='http://www.ray-ban.com/usa/terms-of-use', data-fancybox-type='iframe') Conditions of Use & Sale
        | , 
        a.fancybox(href='http://www.ray-ban.com/usa/privacy-policy', data-fancybox-type='iframe') Privacy Notice
        | , and 
        a.fancybox(href='http://www.ray-ban.com/usa/privacy-policy', data-fancybox-type='iframe') Cookies & Internet Advertising
  .error

#keyboard
  ul
    li.symbol
      span.off `
      span.on ~
    li.symbol
      span.off 1
      span.on !
    li.symbol
      span.off 2
      span.on @
    li.symbol
      span.off 3
      span.on #
    li.symbol
      span.off 4
      span.on $
    li.symbol
      span.off 5
      span.on %
    li.symbol
      span.off 6
      span.on ^
    li.symbol
      span.off 7
      span.on &amp;
    li.symbol
      span.off 8
      span.on *
    li.symbol
      span.off 9
      span.on (
    li.symbol
      span.off 0
      span.on )
    li.symbol
      span.off -
      span.on _
    li.symbol
      span.off =
      span.on +
    li.delete.lastitem delete
    li.tab @
    li.letter q
    li.letter w
    li.letter e
    li.letter r
    li.letter t
    li.letter y
    li.letter u
    li.letter i
    li.letter o
    li.letter p
    li.symbol
      span.off [
      span.on {
    li.symbol
      span.off ]
      span.on }
    li.symbol.lastitem
      span.off \
      span.on |
    li.capslock caps lock
    li.letter a
    li.letter s
    li.letter d
    li.letter f
    li.letter g
    li.letter h
    li.letter j
    li.letter k
    li.letter l
    li.symbol
      span.off ;
      span.on :
    li.symbol
      span.off '
      span.on &quot;
    li.return.lastitem .com
    li.left-shift shift
    li.letter z
    li.letter x
    li.letter c
    li.letter v
    li.letter b
    li.letter n
    li.letter m
    li.symbol
      span.off ,
      span.on &lt;
    li.symbol
      span.off .
      span.on &gt;
    li.symbol
      span.off /
      span.on ?
    li.done.lastitem done
    li.space.lastitem &nbsp;
