:markdown
  # Ray-Ban Remix Booth Rules
  
  1. Your remix cannot contain: (a) references that are obscene, crude, vulgar or defamatory; (b) gang identifications; (c) references to commercial products, license plate numbers, phone numbers or personal addresses; (d) derogatory references to any ethnic, racial, sexual or religious group(s); or (e) endorsement or otherwise non-derogatory reference to any criminal conduct or behavior.
  2. Isolated instrumental and vocal tracks and pedals are made available for the specific purpose of allowing you to create an original remix of the song. Apart from those elements that are made available to you inside the remix booth, your remix must be wholly original (i.e., it cannot incorporate or include lyrics to another song or other material that belongs to someone else).
  3. Your remix is not an "official" remix and you must not refer to it as such (either in the recording booth or when sharing on allowed channels).
  4. You cannot use recording devices &ndash; including cell phones &ndash; in the remix booth.
  5. No more than one person is permitted in the Remix booth at any one time.
  6. Without in any way altering or abrogating rules (4) and (5) above, you understand that there may be off-site personnel monitoring your performance and/or conduct in the remix booth for the purpose of ensuring your compliance with these rules, and you expressly give your consent to the interception of any conversations or communications you have in the remix booth.
  7. By entering the remix booth you acknowledge and expressly agree that, as between you and Ray-Ban, Ray-Ban will be the sole owner of your remix. You will have no ability to review your remix or control its use or dissemination. You consent to its use by Ray-Ban for all purposes, including without limitation purposes of advertising and trade.
  8. You must (a) follow these rules and (b) read, sign and return the attached Acknowledgement & Release form (the "Release") to be eligible to receive a link to your remix. You understand and acknowledge that by signing the Release, you are agreeing to, and will be bound by, additional terms and conditions not set forth on these rules. 

.actions
  .back back
