doctype html
html
  
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='R-r-r-r-reeeemixxxx')
    meta(name='author', content='Carrot Creative')
    title Ray-Ban Remix Booth
    != css('/')
    script(src='http://fast.fonts.net/jsapi/de6dd137-b59f-40a9-9ec7-0688364cd4e1.js')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')

  body
    block content
      
    != client_templates()
    script(src='/js/build.js')
