#effects
  margin-top: 200px
  
  .header
    text-align: center
    margin-bottom: 40px

  h3
    upcase()
    margin-bottom: .2em
  
  small
    font-size: .8em
    opacity: .7
  
  ul
    reset-list()
    group()
    
    li
      group()
      float: left
      width: 20%
      cursor: pointer
      text-align: center
      
      .toggle
        size: 70px
        border: 4px solid white
        margin: 0 auto
        rounded()
        transition()
      
      .name
        font-size: .8em
        margin-top: 12px
        
      &.active .toggle
        background: red
  
  .preview
    padding: 8px 10px
    margin-right: 5px
    background: #ccc
    rounded()
  
  .actions
    margin: 15px 0
  
  .track
    group()
    text-align: center
    cursor: pointer
    color: red
    
    &:hover
      opacity: .8
    
    .play-button
      display: inline
      margin-right: 15px
      
    p
      display: inline
  
  .actions
    text-align: center
    margin: 50px auto
    
  .next
    button()
