normalize-css()
base()

*
  box-sizing: border-box
  no-select()

body
  background: black url('/img/background.jpg')
  background-size: cover
  color: white
  font-family: 'TradeGothicW01-BoldCn20_675334', sans-serif

.container
  max-width: 900px
  margin: 0 auto

button()
  upcase()
  bold()
  padding: .2em 1em
  border: 4px solid white
  display: inline-block
  cursor: pointer
  text-align: center
  font-weight: 500
  transition()

hr
  border: none
  border-top: 1px solid red
  max-width: 150px
  margin: 50px auto

header
  text-align: center

h1
  h1: 2em
  font-weight: 500
  margin: 0
  upcase()

h2
  h2: 1.2em
  font-weight: 500
  margin: -10px 0 0 0

h3
  font-family: 'Open Sans', sans-serif
  font-size: .7em
  margin: 0
  line-height: 1.4em
  font-weight: 300

#header
  background: #000
  width: 100%
  group()
  
  .logo
    float: left
    width: 170px

#hashtag
  absolute: bottom 30px right 30px
  upcase()
