#preview
  margin-top: 230px
  
  header
    margin-bottom: 50px
  
  .track
    max-width: 485px
    margin: 25px auto 0 auto
    cursor: pointer
    group()
    
    .play-button
      size: 90px
      float: left
      background: red url('/img/play.svg') 57% 50% no-repeat
      background-size: 35%
      rounded()
    
    &.active .play-button
      background: red url('/img/stop.svg') 50% 50% no-repeat
      background-size: 35%
    
    p
      margin-top: 24px
      display: block
      float: left
      margin-left: 30px
      font-size: 1.2em
  
  .actions
    text-align: center
  
  .next
    text-align: center
    button()
