#record
  margin-top: 200px
  group()
  
  .contain
    position: relative
    group()
  
  .countdown
    display: none
    absolute: top -100px right -100px
    size: 70px
    padding-top: 11px
    font-size: 1.3em
    rounded()
    background: white
    color: red
    text-align: center
    
  .bars
    absolute: bottom left
    display: none
    
  .recording
    
    .preroll, .button
      size: 230px
      border: 4px solid white
      margin: 50px auto
      font-size: 4em
      text-align: center
      cursor: pointer
      rounded()
    
    .preroll
      display: none
      padding-top: 38px
  
    .button
      background: red url('/img/mic.svg') center center no-repeat
      transition()
      
      &:hover
        background-color: red
    
    .instructions
      text-align: center
      font-weight: 300
      font-size: 1.4em
  
  .lyrics
    display: none
    text-align: center
    margin-top: 200px
    
    .text
      font-weight: 300
      font-size: 1.9em
      display: inline
      position: relative
    
    .line
      absolute: bottom -15px left 0
      width: 100%
      height: 2px
      background: red
      animation-name: fill
      animation-timing-function: linear
      
  .actions
    display: none
    max-width: 670px
    margin: 80px auto 0 auto
    text-align: center
    group()
    
    .playback, .re-record
      float: left
      width: 50%
      text-align: center
      upcase()
      font-size: .8em
      cursor: pointer
      
      .button
        size: 130px
        border: 4px solid white
        rounded()
        margin: 0 auto
    
    .playback .button
      background: url('/img/play.svg') 58% 50% no-repeat
      background-size: 36%
    
    .playback.playing .button
      background: url('/img/stop.svg') 50% 50% no-repeat
      background-size: 36%
    
    .re-record .button
      background: url('/img/loop.svg') 47% 50% no-repeat
      background-size: 50%

    .next
      button()

@keyframes fill
  0%
    width: 0%
  100%
    width: 100%
