#register
  margin-top: 250px
  transition()
  
  &.keyboard-active
    margin-top: 140px
  
  form
    max-width: 600px
    margin: 0 auto
    group()
    
    input[type=submit]
      background: red
      bold()
      upcase()
      transition()
      
      &:hover
        background: darken(@background, 15%)
      
      &:focus
        outline: 0
    
    .email-box
      group()
      
      input[type=text], input[type=submit]
        padding: 15px
    
      input[type=text]
        float: left
        width: 75%
        border: none
        color: black
        
      input[type=submit]
        float: right
        width: 25%
        border: none
    
    .terms
      font-size: .7em
      margin-top: 15px

      .input
        group()
      
      input[type=checkbox]
        width: 35px
        height: 60px
        float: left
      
      label
        margin-top: 17px
        display: block
        float: left
      
      a
        link: red
        margin: 0 5px
        cursor: pointer

      p
        font-size: 0.5em
        margin: 0
        padding-left: 35px

    .email-conditions
      margin-top: -10px

      a
        margin: 0 2px
    
    .error
      padding: 10px
      upcase()
      text-align: center
      background: rgba(red, .3)
      margin-top: 15px
      display: none

  #keyboard
    margin-left: -35px
    group()
    
    ul
      absolute: bottom
      height: 0
      reset-list()
      font-size: .8em
      font-family: 'Open Sans', serif
      group()
      overflow: hidden
      transition()
      
      &.active
        height: 325px
      
      li
        float: left
        margin: 0 5px 5px 0
        size: 60px
        line-height: 60px
        text-align: center
        background: #414141
        border: 1px solid transparent
        border-radius: 5px
        cursor: pointer
        no-select()
        
        &:active
          position: relative
          top: 1px
          left: 1px
          border-color: #7e7e7e

      .capslock, .tab, .left-shift
        clear: left

      .tab, .delete
        width: 123px

      .capslock
        width: 140px

      .return
        width: 109px

      .left-shift
        width: 166px

      .done
        width: 149px
        background: red
        upcase()

      .lastitem
        margin-right: 0

      .uppercase
        text-transform: uppercase

      .space
        clear: left
        width: 100%

      .on
        display: none
