#single
  
  h1
    text-align: center
    margin-top: 50px
  
  ol
    font-family: 'Open Sans', sans-serif
    font-size: .55em
    
    li
      margin: 10px 0
  
  .actions
    text-align: center
    margin: 30px 0
  
  .back
    button()
